/* Підключення фрифтів */

/* Google Fonts (Plugin) */

/* Локальне підключення шрифтів */
@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

/* Компоненти */
@import url("button.css");
/* .... */

/* Основні стилі */
body {
}
.wrapper {
	overflow: clip;
	min-height: 100%;
}

[class*="__container"] {
	max-width: 1350px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.page {
}
