@font-face {
	font-family: "SpaceMono";
	src: url("../fonts/SpaceMono-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "SpaceMono";
	src: url("../fonts/SpaceMono-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "SpaceMono";
	src: url("../fonts/SpaceMono-BoldItalic.woff2") format("woff2");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "SpaceMono";
	src: url("../fonts/SpaceMono-Italic.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Heroking-Regular";
	src: url("../fonts/Heroking-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Lucy Said";
	src: url("../fonts/Lucy Said Ok Personal Use.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
